    body {
      font-family: Arial;
      text-align: center;
      background: #f0f0f0;
    }
    .calculadora {
      display: inline-block;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px gray;
      margin-top: 20px;
    }
    input {
      width: 210px;
      height: 40px;
      text-align: right;
      margin-bottom: 10px;
      font-size: 20px;
    }
    button {
      width: 50px;
      height: 50px;
      font-size: 18px;
      margin: 3px;
      background: dodgerblue;
      color: white;
      border: none;
      border-radius: 5px;
    }
    button:hover {
      background: royalblue;
    }
    #historial {
      background: white;
      margin: 20px auto;
      width: 250px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px gray;
      text-align: left;
    }